<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Online Submission</h1>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                    efficiently about what’s most interesting in this post’s contents.</p>
                <a href="/guidelines" class="btn btn-primary">View guidelines</a>
            </div>
        </div>
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputTitle" class="form-label">Title</label>
                <input type="email" class="form-control" id="inputTitle" placeholder="Title">
            </div>
            <div class="col-md-6">
                <label for="inputAuthor" class="form-label">Author</label>
                <input type="text" class="form-control" id="inputAuthor" placeholder="Author">
            </div>
            <div class="col-12">
                <label for="inputAstract" class="form-label">Abstract</label>
                <textarea type="text" class="form-control" id="inputAstract" placeholder="Abstract"></textarea>
            </div>
            <div class="col-12">
                <label for="inputDate" class="form-label">Published date</label>
                <input type="date" class="form-control" id="inputDate">
            </div>
        </form>
        </br>
        <div class="form-group">
            <label for="articleUpload">Uoload article in PDF format</label>
            <input type="file" class="form-control-file" id="articleUpload">
        </div>
        </br>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    </div>
    </br>
    {{>footer}}
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>