<main class="container">
    <div class="card mb-3 text-white mb-3 bg-dark mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-4" id="volumeCover">
            </div>
            <div class="col-md-8">
                <div class="card-body" id="latestLink">
                    <h5 class="card-title" id="LatestVolume"></h5>
                    <h4 class="card-title" id="LatestVolumeTitle"></h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted" id="datePublished"></small></p>
                </div>
            </div>
        </div>
    </div>
    {{>articles}}
</main>